<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <!-- Title and other stuffs -->
    <title>@ViewBag.Title - WebSite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet' type='text/css'>

    <!-- Stylesheets -->
    <!-- Bootstrap -->
    <link href="~/Content/Templates/style/bootstrap.css" rel="stylesheet">
    <!-- Font awesome icon -->
    <link rel="stylesheet" href="~/Content/Templates/style/font-awesome.css">
    <!-- Navigation menu -->
    <link rel="stylesheet" href="~/Content/Templates/style/ddlevelsmenu-base.css">
    <link rel="stylesheet" href="~/Content/Templates/style/ddlevelsmenu-topbar.css">
    <!-- cSlider -->
    <link rel="stylesheet" href="~/Content/Templates/style/slider.css">
    <!-- PrettyPhoto -->
    <link rel="stylesheet" href="~/Content/Templates/style/prettyPhoto.css">
    <!-- Custom style -->
    <link href="~/Content/Templates/style/style.css" rel="stylesheet">

    <!-- METROMAN TEMPLATE -->
    <!-- HTML5 Support for IE -->
    <!--[if lt IE 9]>
    <script src="~/Scripts/html5shim.js"></script>
    <![endif]-->
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/Templates/img/favicon/favicon.png">
</head>

<body>

    <!-- Sliding panel starts-->

    <div class="slidepanel">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="spara">
                        <!-- Contact details -->
                        <p>
                            <i class="icon-envelope-alt lightblue"></i> jesseliberty@gmail.com &nbsp;
                            <i class="icon-twitter lightblue"></i> jesseliberty &nbsp;
                            <i class="icon-desktop lightblue"></i> 617-456-7890
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="social">
                        <!-- Social media icons. Repalce # with your profile links -->
                        <a href="http://facebook.com/jesse.liberty" class="bblue"><i class="icon-facebook"></i></a>
                        <a href="http://google.com" class="borange"><i class="icon-google-plus"></i></a>
                        <a href="http://twitter.com/jesseliberty" class="blightblue"><i class="icon-twitter"></i></a>
                        <a href="http://linkedin.com" class="bviolet"><i class="icon-linkedin"></i></a>
                        <a href="http://feeds.feedburner.com/JesseLiberty-SilverlightGeek" class="borange"><i class="icon-rss"></i></a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <!-- Sliding panel ends-->
    <!-- Header starts -->

    <header>
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-4">

                    <!-- Logo starts -->

                    <div class="logo">

                        <div class="logo-image">
                            <!-- Image link -->
                            <a href="index.html"><i class="icon-desktop blue"></i></a>
                        </div>

                        <div class="logo-text">
                            <h1><a href="index.html">Web<span class="lightblue">Site</span></a></h1>
                            <div class="logo-meta">A Pluralsight Experience</div>
                        </div>

                        <div class="clearfix"></div>

                    </div>

                    <!-- Logo ends -->

                </div>

                <div class="col-md-8 col-sm-8">

                    <!-- Navbar starts -->

                    <div class="navi pull-right">
                        <div id="ddtopmenubar" class="mattblackmenu">
                            <!-- Main navigation -->
                            <!-- Use the background color class in anchor tag for colorful menu -->
                            <ul>

                                <li><a href="~/Home/Index" class="blightblue"> <i class="icon-home"></i> Home</a></li>

                                <!-- Main navigation -->
                                <li>
                                    <a href="#" rel="ddsubmenu2" class="bred"> <i class="icon-desktop"></i> Pages</a>
                                    <!-- Sub Navigation -->
                                    <ul id="ddsubmenu2" class="ddsubmenustyle">
                                        <li><a href="~/Home/News">News!</a></li>
                                        <li><a href="~/Home/Team">Our Team</a></li>
                                        <li><a href="~/Home/AboutUs">About Us</a></li>
                                        <li><a href="~/Home/UnderConstruction">Resume</a></li>
                                        <li><a href="~/Home/UnderConstruction">Tasks</a></li>
                                        <li><a href="~/Home/UnderConstruction">Features</a></li>
                                        <li><a href="~/Home/UnderConstruction">Service</a></li>
                                        <li>
                                            <a href="#">Admin</a>
                                            <ul>
                                                <li><a href="~/News/Create">News Creation</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>



                                <li>
                                    <a href="#" rel="ddsubmenu2" class="bgreen"> <i class="icon-comments"></i> Blog</a>
                                    <!-- Sub navigation -->
                                    <ul id="ddsubmenu2" class="ddsubmenustyle">
                                        <li><a href="http://jesseliberty.com">Jesse Liberty</a></li>
                                        <li><a href="http://blog.falafel.com">Falafel</a></li>
                                    </ul>
                                </li>


                                <li><a href="~/Home/Contact" class="bblue"> <i class="icon-envelope-alt"></i> Contact</a></li>


                            </ul>
                        </div>
                    </div>

                    <div class="navis"></div>

                    <!-- Navbar ends -->

                    <div class="clearfix"></div>

                </div>

            </div>
        </div>
    </header>

    <div class="clearfix"></div>

    <!-- Header ends -->
    @RenderBody()
    <!-- Footer -->
    <!-- Below area is for testimonial -->
    <div class="foot blightblue">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <!-- User icon -->
                    <span class="twitter-icon text-center"><i class="icon-user"></i></span>
                    <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum dolor eget nisi <br />fermentum quis hendrerit magna vestibulum."</em></p>


                </div>
            </div>
        </div>
    </div>
    <div>

    </div>




    <footer>
        <div class="container">
            <div class="row">


                <div class="widgets">

                    <div class="col-md-3">
                        <div class="fwidget">

                            <h4>Contact</h4>

                            <p>Nullam justo nunc, dignissim at convallis posuere, sodales eu orci. </p>
                            <hr />
                            <i class="icon-home"></i> &nbsp; 123 Main Street. Acton, MA 01720
                            <hr />
                            <i class="icon-phone"></i> &nbsp; 617-3823-3434
                            <hr />
                            <i class="icon-envelope-alt"></i> &nbsp; <a href="mailto:jesseliberty@gmail.com">jesseliberty@gmail.com</a>
                            <hr />
                            <div class="social">
                                <a href="http://facebook.com/jesse.liberty" class="bblue"><i class="icon-facebook"></i></a>
                                <a href="http://google.com" class="borange"><i class="icon-google-plus"></i></a>
                                <a href="http://twitter.com/jesseliberty" class="blightblue"><i class="icon-twitter"></i></a>
                                <a href="http://linkedin.com" class="bviolet"><i class="icon-linkedin"></i></a>
                                <a href="http://feeds.feedburner.com/JesseLiberty-SilverlightGeek" class="borange"><i class="icon-rss"></i></a>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="fwidget">
                            <h4>Categories</h4>
                            <ul>
                                <li><a href="#">Condimentum - Condimentum gravida</a></li>
                                <li><a href="#">Etiam at - Condimentum gravida</a></li>
                                <li><a href="#">Fusce vel - Condimentum gravida</a></li>
                                <li><a href="#">Vivamus - Condimentum gravida</a></li>
                                <li><a href="#">Pellentesque - Condimentum gravida</a></li>
                                <li><a href="#">Fusce vel - Condimentum gravida</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="fwidget">

                            <h4>Subscribe</h4>
                            <p>Duis leo risus, condimentum ut posuere ac, vehicula luctus nunc.  Quisque rhoncus, a sodales enim arcu quis turpis.</p>
                            <p>Enter you email to Subscribe</p>

                            <form class="form-inline" role="form">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="subscribe" placeholder="Subscribe...">
                                </div>
                                <button type="submit" class="btn btn-danger">Subscibe</button>
                            </form>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="fwidget">
                            <h4>Recent Posts</h4>
                            <ul>
                                <li><a href="#">Sed eu leo orci, condimentum gravida metus</a></li>
                                <li><a href="#">Etiam at nulla ipsum, in rhoncus purus</a></li>
                                <li><a href="#">Fusce vel magna faucibus felis dapibus facilisis</a></li>
                                <li><a href="#">Vivamus scelerisque dui in massa</a></li>
                                <li><a href="#">Pellentesque eget adipiscing dui semper</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="copy">
                        <p>Copyright &copy; <a href="#">Your Site</a> - <a href="index.html">Home</a> | <a href="aboutus.html">About Us</a> | <a href="faq.html">FAQ</a> | <a href="contactus.html">Contact Us</a></p>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </footer>

    <!-- JS -->
    <script src="~/Scripts/jquery-1.10.2.js"></script> <!-- jQuery -->
    <script src="~/Scripts/bootstrap.js"></script> <!-- Bootstrap -->
    <script src="~/Scripts/jquery.prettyPhoto.js"></script> <!-- prettyPhoto -->
    <script src="~/Scripts/jquery.isotope.js"></script> <!-- isotope -->
    <script src="~/Scripts/ddlevelsmenu.js"></script> <!-- Navigation menu -->
    <script src="~/Scripts/jquery.cslider.js"></script> <!-- jQuery cSlider -->
    <script src="~/Scripts/modernizr.custom.28468.js"></script> <!-- Extra script for cslider -->

    <script src="~/Scripts/filter.js"></script> <!-- Support -->
    <script src="~/Scripts/custom.js"></script> <!-- Custom JS -->

    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="~/scripts/jquery.gmap.min.js"></script>
    @RenderSection("scripts", required: false)


</body>
</html>



