
@{
    ViewBag.Title = "AboutUs";
}

<h2>About Us</h2>

<!-- Page heading -->
<!-- Give background color class on below line (bred, bgreen, borange, bviolet, blightblue, bblue) -->
<div class="page-heading blightblue">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="pull-left"><i class="icon-arrow-right title-icon"></i> About Us</h2>
                <div class="pull-right heading-meta">About <span class="lightblue">Us</span>. </div>
            </div>
        </div>
    </div>
</div>
<!-- Page heading ends -->
<!-- Content starts -->
<div class="content">
    <div class="container">

        <div class="row">

            <div class="col-md-3 col-sm-3">
                <!-- Service title with tag -->
                <h3>What We Do In Free Time?</h3>
                <p>Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit.</p>
                <a href="#">Check out everything <i class="icon-double-angle-right"></i> </a>

                <hr />

                <div class="form">
                    <h3>Search</h3>
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="search" placeholder="">
                        </div>
                        <button type="submit" class="btn btn-danger">Search</button>
                    </form>
                </div>
            </div>

            <div class="col-md-7 col-sm-7">
                <h2 class="title"><i class="title-icon icon-arrow-right"></i> About Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse porttitor luctus imperdiet. <a href="#">Praesent ultricies</a> enim ac ipsum aliquet pellentesque. </p>
                <a href="#"><img src="~/Content/Templates/img/photos/girl1.jpg" alt="" class="img-responsive" /></a>
                <ul class="list">
                    <li>Etiam adipiscing posuere justo, nec iaculis justo dictum non</li>
                    <li>Cras tincidunt mi non arcu hendrerit eleifend</li>
                    <li>Aenean ullamcorper justo tincidunt justo aliquet et lobortis diam faucibus</li>
                    <li>Maecenas hendrerit neque id ante dictum mattis</li>
                    <li>Vivamus non neque lacus, et cursus tortor</li>
                </ul>

                <p>Nulla facilisi. Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor. Phasellus condimentum rutrum aliquet. Quisque eu consectetur erat. Proin rutrum, erat eget posuere semper, <em>arcu mauris posuere tortor</em>, in commodo enim magna id massa. Suspendisse potenti. Aliquam erat volutpat. Maecenas quis tristique turpis. Nulla facilisi. Duis sed velit at ac ultrices magna. Aliquam consequat, purus vitae auctor ullamcorper, sem velit convallis quam, a pharetra justo nunc et mauris. Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <hr />
            </div>

            <div class="col-md-2 col-sm-2">
                <h3>Clients</h3>
                <ul class="list">
                    <li><a href="#">Condimentum</a></li>
                    <li><a href="#">Etiam at</a></li>
                    <li><a href="#">Fusce vel</a></li>
                    <li><a href="#">Vivamus</a></li>
                    <li><a href="#">Pellentesque</a></li>
                </ul>

            </div>

        </div>

    </div>
</div>
<!-- Content ends -->
