
@{
    ViewBag.Title = "Team";
}

<h2>Team</h2>

 <!-- Page heading -->
<!-- Give background color class on below line (bred, bgreen, borange, bviolet, blightblue, bblue) -->
<div class="page-heading blightblue">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="pull-left"><i class="icon-arrow-right title-icon"></i> Our Team</h2>
                <div class="pull-right heading-meta">This Is <span class="lightblue">Meta</span>. Write <span class="lightblue">Something</span> Here</div>
            </div>
        </div>
    </div>
</div>
<!-- Page heading ends -->
<!-- Content starts -->
<div class="content">
    <div class="container">

        <div class="about-two">
            <div class="row">

                <div class="col-md-3 col-sm-6">
                    <!-- Staff #1 -->
                    <div class="staff text-center">
                        <!-- Picture -->
                        <div class="pic">
                            <img src="~/Content/Templates/img/jesse.jpg" alt="" class="img-responsive" />
                        </div>
                        <!-- Details -->
                        <div class="details">
                            <!-- Name and designation -->
                            <div class="desig">
                                <p class="name">Jesse Liberty</p>
                                <em>CEO of Liberty Associates, Inc.</em>
                            </div>
                            <!-- Social media details. Replace # with profile links -->
                            <div class="asocial">
                                <a href="#"><i class="icon-facebook bblue"></i></a>
                                <a href="#"><i class="icon-google-plus borange"></i></a>
                                <a href="#"><i class="icon-twitter bviolet"></i></a>
                                <a href="#"><i class="icon-linkedin blightblue"></i></a>
                                <a href="#"><i class="icon-pinterest bred"></i></a>
                            </div>
                            <div class="clearfix"></div>
                            <!-- Description -->
                            <p class="adesc">Praes at tellus in  ligula porttitor nisl porttitor sagittis. Mauris in massa ligula, a tpor in massa ligula nulla. </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <!-- Staff #2 -->
                    <div class="staff text-center">
                        <div class="pic">
                            <img src="~/Content/Templates/img/jesse.jpg" alt="" class="img-responsive" />
                        </div>
                        <div class="details">
                            <div class="desig">
                                <p class="name">Jesse Liberty</p>
                                <em>CTO of Liberty Associates, Inc.</em>
                            </div>
                            <div class="asocial">
                                <a href="#"><i class="icon-facebook bblue"></i></a>
                                <a href="#"><i class="icon-google-plus borange"></i></a>
                                <a href="#"><i class="icon-twitter bviolet"></i></a>
                                <a href="#"><i class="icon-linkedin blightblue"></i></a>
                                <a href="#"><i class="icon-pinterest bred"></i></a>
                            </div>
                            <div class="clearfix"></div>
                            <p class="adesc">Praes at tellus in  ligula porttitor nisl porttitor sagittis. Mauris in massa ligula, a tpor in massa ligula nulla. </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <!-- Staff #3 -->
                    <div class="staff text-center">
                        <div class="pic">
                            <img src="~/Content/Templates/img/jesse.jpg" alt="" class="img-responsive" />
                        </div>
                        <div class="details">
                            <div class="desig">
                                <p class="name">Jesse Liberty</p>
                                <em>CFO of Liberty Associates, Inc.</em>
                            </div>
                            <div class="asocial">
                                <a href="#"><i class="icon-facebook bblue"></i></a>
                                <a href="#"><i class="icon-google-plus borange"></i></a>
                                <a href="#"><i class="icon-twitter bviolet"></i></a>
                                <a href="#"><i class="icon-linkedin blightblue"></i></a>
                                <a href="#"><i class="icon-pinterest bred"></i></a>
                            </div>
                            <div class="clearfix"></div>
                            <p class="adesc">Praes at tellus in  ligula porttitor nisl porttitor sagittis. Mauris in massa ligula, a tpor in massa ligula nulla. </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <!-- Staff #4 -->
                    <div class="staff text-center">
                        <div class="pic">
                            <img src="~/Content/Templates/img/jesse.jpg" alt="" class="img-responsive" />
                        </div>
                        <div class="details">
                            <div class="desig">
                                <p class="name">Jesse Liberty</p>
                                <em>CMO of Liberty Associates, Inc.</em>
                            </div>
                            <div class="asocial">
                                <a href="#"><i class="icon-facebook bblue"></i></a>
                                <a href="#"><i class="icon-google-plus borange"></i></a>
                                <a href="#"><i class="icon-twitter bviolet"></i></a>
                                <a href="#"><i class="icon-linkedin blightblue"></i></a>
                                <a href="#"><i class="icon-pinterest bred"></i></a>
                            </div>
                            <div class="clearfix"></div>
                            <p class="adesc">Praes at tellus in  ligula porttitor nisl porttitor sagittis. Mauris in massa ligula, a tpor in massa ligula nulla. </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- Content ends -->